<%= form_for(@diretor) do |f| %>
  <% if @diretor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diretor.errors.count, "error") %> Não foi possível salvar o diretor:</h2>

      <ul>
      <% @diretor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
