<h1>Listing diretores</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @diretores.each do |diretor| %>
  <tr>
    <td><%= diretor.nome %></td>
    <td><%= link_to 'Show', diretor %></td>
    <td><%= link_to 'Edit', edit_diretor_path(diretor) %></td>
    <td><%= link_to 'Destroy', diretor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Diretor', new_diretor_path %>
