<h1>Listing diretores</h1>

<div id="search-form"> <fieldset>
  <legend>Buscar por nomes:</legend>
  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :nome, "Nome: " %><br />
      <%= f.text_field :nome_cont, :class => "search-field"%>
    </div>
	<div class="actions">
	  <%= f.submit "Buscar" %>
    <%= f.submit "Limpar campos",  :id => :reset_btn  %>
	</div>
  <% end %>
</fieldset> </div>

<%= page_entries_info @diretores %>
<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @diretores.each do |diretor| %>
  <tr>
    <td><%= diretor.nome %></td>
    <td><%= link_to 'Show', diretor %></td>
    <td><%= link_to 'Edit', edit_diretor_path(diretor) %></td>
    <td><%= link_to 'Destroy', diretor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @diretores %>

<br />

<%= link_to 'New Diretor', new_diretor_path %>
