<h1>Listing midias</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @midias.each do |midia| %>
  <tr>
    <td><%= midia.nome %></td>
    <td><%= link_to 'Show', midia %></td>
    <td><%= link_to 'Edit', edit_midia_path(midia) %></td>
    <td><%= link_to 'Destroy', midia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Midia', new_midia_path %>
