<h1>Listando mídias</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @midias.each do |midia| %>
  <tr>
    <td><%= midia.nome %></td>
    <td><%= link_to 'Mostrar', midia %></td>
    <td><%= link_to 'Editar', edit_midia_path(midia) %></td>
    <td><%= link_to 'Apagar', midia, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Criar novo Midia', new_midia_path %>
