<h1>Listando gêneros</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @generos.each do |genero| %>
  <tr>
    <td><%= genero.nome %></td>
    <td><%= link_to 'Mostrar', genero %></td>
    <td><%= link_to 'Editar', edit_genero_path(genero) %></td>
    <td><%= link_to 'Apagar', genero, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Criar novo Genero', new_genero_path %>
