<%= form_for(@ator) do |f| %>
  <% if @ator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ator.errors.count, "error") %> O ator não pode ser salvo:</h2>

      <ul>
      <% @ator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :sexo, "Sexo" %><br />
    <%= f.select :sexo, [["", 1], ["Masculino", 2], ["Feminino", 3]] %>
  </div>
  <div class="actions">
    <%= f.submit "Criar novo ator" %>
  </div>
<% end %>


