<h1>Listando atores</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Sexo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @atores.each do |ator| %>
  <tr>
    <td><%= ator.nome %></td>
    <td><%= ator.sexo_txt %></td>
    <td><%= link_to 'Mostrar', ator %></td>
    <td><%= link_to 'Editar', edit_ator_path(ator) %></td>
    <td><%= link_to 'Apagar', ator, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo ator', new_ator_path %>
