<h1>Listando atores</h1>

<div id="search-form"> <fieldset>
  <legend>Buscar por nomes:</legend>
  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :nome, "Nome: " %><br />
      <%= f.text_field :nome_cont, :class => "search-field"%>
    </div>
    <div class="field">
      <%= f.label :sexo, "Sexo" %><br />
      <%= f.select :sexo_eq, [["Masculino", 2], ["Feminino", 3]], :include_blank => "Todos", :class => "search-field" %>
    </div>
	<div class="actions">
	  <%= f.submit "Buscar" %>
    <%= f.submit "Limpar campos",  :id => :reset_btn  %>
	</div>
  <% end %>
</fieldset> </div>

<%= page_entries_info @atores %>
<table>
  <tr>
    <th>Nome</th>
    <th>Sexo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @atores.each do |ator| %>
  <tr>
    <td><%= ator.nome %></td>
    <td><%= ator.sexo_txt %></td>
    <td><%= link_to 'Mostrar', ator %></td>
    <td><%= link_to 'Editar', edit_ator_path(ator) %></td>
    <td><%= link_to 'Apagar', ator, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @atores %>

<br />

<%= link_to 'Novo ator', new_ator_path %>
