<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @ator.nome %>
</p>

<p>
  <b>Sexo:</b>
  <%= @ator.sexo_txt %>
</p>


<%= link_to 'Editar', edit_ator_path(@ator) %> |
<%= link_to 'Voltar', atores_path %>
