<h1>Listando países</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @paises.each do |pais| %>
  <tr>
    <td><%= pais.nome %></td>
    <td><%= link_to 'Mostrar', pais %></td>
    <td><%= link_to 'Editar', edit_pais_path(pais) %></td>
    <td><%= link_to 'Apagar', pais, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Criar novo Pais', new_pais_path %>
