<h1>Listando roteiristas</h1>

<div id="search-form"> <fieldset>
  <legend>Buscar por nomes:</legend>
  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :nome, "Nome: " %><br />
      <%= f.text_field :nome_cont, :class => "search-field"%>
    </div>
	<div class="actions">
	  <%= f.submit "Buscar" %>
    <%= f.submit "Limpar campos",  :id => :reset_btn  %>
	</div>
  <% end %>
</fieldset> </div>

<%= page_entries_info @roteiristas %>
<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @roteiristas.each do |roteirista| %>
  <tr>
    <td><%= roteirista.nome %></td>
    <td><%= link_to 'Mostrar', roteirista %></td>
    <td><%= link_to 'Editar', edit_roteirista_path(roteirista) %></td>
    <td><%= link_to 'Apagar', roteirista, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @roteiristas %>

<br />

<%= link_to 'Criar novo Roteirista', new_roteirista_path %>
