<%= form_for(@filme) do |f| %>
  <% if @filme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@filme.errors.count, "error") %> Não foi possível salvar o filme:</h2>

      <ul>
      <% @filme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo, :size => "60" %>
  </div>
  <div class="field">
    <%= f.label :titulorg, "Titulo Original" %><br />
    <%= f.text_field :titulorg, :size => "60" %>
  </div>

  <div class="field"; style="width: 600px;">
    <div style="float: left; width: 200px;">
      <%= f.label :genero_id, "Genero" %><br />
      <%= collection_select(:filme, :genero_id, Genero.order('nome'), :id, :nome, { :prompt => "Selecione um genero" } ) %>
    </div>
    <div style="float: left; width: 200px;">
      <%= f.label :midia_id, "Mídia" %><br />
      <%= collection_select(:filme, :midia_id, Midia.order('nome'), :id, :nome, { :prompt => "Selecione a mídia " } ) %>
    </div>
    <div style="float: left; width: 200px;">
      <%= f.label :pais_id, "País" %><br />
      <%= collection_select(:filme, :pais_id, Pais.order('nome'), :id, :nome, { :prompt => "Selecione o pais " } ) %>
    </div>
    <br style="clear: left;" />
  </div>

  <div class="field"; style="width: 600px;">
    <div style="float: left; width: 300px;">
      <%= f.label :atores, "Atores" %><br />
      <%= f.select :ator_ids, options_for_select(@ator.collect {|ator| [ ator.nome, ator.id ]}, :selected => @filme.ator_ids), {},  {:multiple => true, :style => "width:295px;", :size => 15  } %>
    </div>

    <div style="float: left; width: 300px;">
      <%= f.label :diretores, "Diretores" %><br />
      <%= f.select :diretor_ids, options_for_select(@diretor.collect {|d| [ d.nome, d.id ]}, :selected => @filme.diretor_ids), {},  {:multiple => true, :style => "width:295px;", :size => 15  } %>
    </div>
    <br style="clear: left;" />
  </div>

  <div style="width: 600px;">
    <div style="float: left; width: 300px;">
      <%= f.label :anoF, "Ano de Realização" %><br />
      <%= f.number_field :anoF, :value => "2014" %>
    </div>
    <div style="float: left; width: 300px;">
      <%= f.label :cor %><br />
      <%= f.check_box :cor %>
    </div>
    <br style="clear: left;" />
  </div>

  <div style="width: 563px;">
    <div style="float: left; width: 300px;">
      <%= f.label :dataA, "Data de assistencia" %><br />
      <%= f.text_field :dataA, :class => "search-field" %>
    </div>
    <div style="float: left; width: 163px;">
      <%= f.label :anoA, "Ano de assistencia" %><br />
      <%= f.number_field :anoA, :value => Time.now.year %>
    </div>
    <div style="float: left; width: 100px;">
      <%= f.label :cotacao %><br />
      <%= f.number_field :cotacao %>
    </div>
    <br style="clear: left;" />
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
