<h1>Listing filmes</h1>

<table>
  <tr>
    <th>Título</th>
    <th>Título Original</th>
    <th>Ano do filme</th>
    <th>Cor</th>
    <th>Genero</th>
    <th>Data Assistencia</th>
    <th>Ano Assistencia</th>
    <th>Mídia</th>
    <th>Cotação</th>
    <th>País</th>
    <th></th>
  </tr>

<% @filmes.each do |filme| %>
  <tr>
    <td><%= filme.titulo %></td>
    <td><%= filme.titulorg %></td>
    <td><%= filme.anoF %></td>
    <td><%= filme.cor %></td>
    <td><%= filme.genero.try(:nome) %></td>
    <td><%= filme.dataA ? filme.dataA.strftime("%d/%m/%Y") : nil %></td>
    <td><%= filme.anoA %></td>
    <td><%= filme.midia.try(:nome) %></td>
    <td><%= filme.cotacao %></td>
    <td><%= filme.pais.try(:nome) %></td>
    <td><%= link_to 'Mostrar', filme %>
    <%= link_to 'Editar', edit_filme_path(filme) %>
    <%= link_to 'Apagar', filme, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Filme', new_filme_path %>
