<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @filme.id %>
</p>

<p>
  <b>Título:</b>
  <%= @filme.titulo %>
</p>

<p>
  <b>Título Original:</b>
  <%= @filme.titulorg %>
</p>

<p>
  <b>Ano do filme:</b>
  <%= @filme.anoF %>
</p>

<p>
  <b>Cor:</b>
  <%= @filme.cor %>
</p>

<p>
  <b>Genero:</b>
  <%= @filme.genero.try(:nome) %>
</p>

<p>
  <b>Data de assistencia:</b>
  <%= @filme.dataA ? @filme.dataA.strftime("%d/%m/%Y") : nil %>
</p>

<p>
  <b>Ano de assistencia:</b>
  <%= @filme.anoA %>
</p>

<p>
  <b>Mídia:</b>
  <%= @filme.midia.try(:nome) %>
</p>

<p>
  <b>Cotação:</b>
  <%= @filme.cotacao %>
</p>

<p>
  <b>Papis:</b>
  <%= @filme.pais.try(:nome) %>
</p>


<%= link_to 'Editar', edit_filme_path(@filme) %> |
<%= link_to 'Voltar', filmes_path %>
