<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @filme.id %>
</p>

<p>
  <b>Título:</b>
  <%= @filme.titulo %>
</p>

<p>
  <b>Título Original:</b>
  <%= @filme.titulorg %>
</p>


<div style="width: 600px;">
  <div style="float: left; width: 300px;">
    <b>Atores:</b>
    <ul>
      <% @filme.atores.each do |ator| %>
      <li> <%= ator.nome %> </li>
      <% end %>
    </ul>
  </div>
  <div style="float: left; width: 300px;">
    <b>Diretores:</b>
    <ul>
      <% @filme.diretores.each do |diretor| %>
      <li> <%= diretor.nome %> </li>
      <% end %>
    </ul>
  </div>
  <br style="clear: left;" />
</div>

<div style="width: 600px;">
  <div style="float: left; width: 300px;">
    <b>Data de assistencia:</b>
    <%= @filme.dataA ? @filme.dataA.strftime("%d/%m/%Y") : nil %>
  </div>
  <div style="float: left; width: 300px;">
    <b>Ano de assistencia:</b>
    <%= @filme.anoA %>
  </div>
  <br style="clear: left;" />
</div>

<p>
  <b>Ano do filme:</b>
  <%= @filme.anoF %>
</p>

<p>
  <b>Cor:</b>
  <%= @filme.cor? ? 'Colorido' : 'Preto e branco' %>
</p>

<p>
  <b>Genero:</b>
  <%= @filme.genero.try(:nome) %>
</p>

<p>
  <b>Mídia:</b>
  <%= @filme.midia.try(:nome) %>
</p>

<p>
  <b>Cotação:</b>
  <%= @filme.cotacao %>
</p>

<p>
  <b>Papis:</b>
  <%= @filme.pais.try(:nome) %>
</p>


<%= link_to 'Editar', edit_filme_path(@filme) %> |
<%= link_to 'Voltar', filmes_path %>
