<li> <%= link_to 'Filmes', filmes_path %> </li>
<li> ---------------- </li>
<li> <%= link_to 'Atores', atores_path %> </li>
<li> <%= link_to 'Roteiristas', roteiristas_path %> </li>
<li> <%= link_to 'Diretores', diretores_path %> </li>
<li> <%= link_to 'Generos', generos_path %> </li>
<li> <%= link_to 'Midias', midias_path %> </li>
<li> <%= link_to 'Países', paises_path %> </li>
